
 <ng-container *ngFor="let details of myarray; let myIndex=index">


   <div class="panel-heading">
    <div class="col-xs-6">
    <div class="body__header--name"> {{details.headlabel}}</div><br><br>
    <div class="body__header--status"> {{details.headlabel2}}  </div></div>
    <div class="col-xs-6 right">
    <button  class="button__primary--bgcolor">COPY TO..</button> &nbsp; &nbsp; <button class="button__primary--inversecolor">EDIT</button>
    </div>
    </div>
   
   <div class="panel-body--marginMod">
      <div class="row">
     <div class="col-xs-6">
       <div class="body__data-head" >STORES</div>
       <div *ngFor="let storydata of details.stories">
        <div class="body__lineHeight"> {{storydata.sname}}</div>
       </div>
      </div>
     <div class="col-xs-6">
     <div class="body__data-head">SCHEDULED PUBLISHING</div>
     <div *ngFor="let schdata of details.sch">
        <div class="body__lineHeight"> {{schdata.schlabel}}</div>
       </div>
    </div>
    </div>
<br><br>
    <div class="body__data-head">{{details.imglable}} &nbsp; | {{details.imglable2}}</div><br>
 
   <div class="row">
     
      <div class="col-xs-2">
      <div *ngIf='!details.boxdisplay'> 
      <img (click)=toggleTextbox(myIndex); src="../assets/images/add.PNG"  width="100" height="100">
      </div>
      <div *ngIf='details.boxdisplay'>
          <div class="form-group">
            
            <input #newImg class="form-control" placeholder="Paste Image Url here" required> <br>
            <div class="btn-group" >
          <button (click)=addImage(newImg.value,myIndex); class="btn btn-primary--fontsizeChange">Add</button>
          <button  (click)=toggleTextbox(myIndex); class="btn btn-info--fontsizeChange">Hide</button>
          </div>
      </div></div>
       </div>
     
      <div *ngFor="let myimages of details.imgarray">
      <div class="col-xs-2"><img [(src)]='myimages.imgurl'  width="100" height="100"></div>
      
   </div>
   </div><br>
 
  </div>


</ng-container>