<div class="container">
  <div class="col-xs-3">
    <div class="row">
    <div class="article">
      <div class="col-xs-4">
      <img src="./assets/images/Yoshi.png" class="img-circle">
      </div>
      <div class="col-xs-8">
        <p> {{name}}</p>
        <span type="button" (click)="onClick()" class="glyphicon glyphicon-menu-down"></span>
      </div>
    </div>

    <img src="./assets/images/logo.PNG" class="img-responsive">
    <a routerLink="Home"routerLinkActive="active">Home</a><br/>
    <a routerLink="Galleries"routerLinkActive="active"> Galleries</a><br/>
    <a routerLink="Stores"routerLinkActive="active"> Stores </a><br/>
    </div>
  </div>
  <div class="col-xs-9">
    <app-header></app-header>
    <br/>
    <router-outlet></router-outlet>
    <br/>
    <app-footer></app-footer>
  </div>
</div>