.img-circle{
    height: 75px;
}

.container {
    border-left:0px;
    padding-left:15px;
    margin:0px;
    background: gray;
}

@import url('//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
.accordion-toggle:after {
    font-family: 'FontAwesome';
    content: "\f078";    
    float: right;
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}